# Node + React
node_modules
*.log
.vscode
.DS_Store
.env
*.tsbuildinfo
.vercel
.next
build
dist
*.map

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
mistral-env
*.ipynb_checkpoints

# General
.git
.gitignore
*.md
*.jsonl
*.db
*.sqlite